body{
    width: 100%;
    height: 100%;
    color: #1B0A42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    flex: 1;
}

/* style the links both inside the hearder and inside the footer */
a{
    color: rgba(84, 72, 55, 1);
}

nav, h6, h2{
    color: rgba(47, 40, 30, 1);
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav__links, .sign-btn{
    display: flex;
    list-style: none;
    width: 350px;
    height: 28px;

}
.nav__links li{
    margin: 5%;
}

.nav__links li a:hover{
    color: #0088a9;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.sign-btn{
    display: flex;
    position: relative;
    left: 10%;
    /* width: 102px;
    height: 46px; */
}

.sign-btn__in{
    color: rgba(23, 58, 86, 1);
    border: 1px solid rgba(188, 208, 229, 1);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 102px;
}

.sign-btn__up{
    background-color: rgba(255, 153, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 5px;
    margin: 5px;
    border-radius: 5px;
    width: 110px;
}

.first-section{
    display: flex;
    align-items: center;
    margin: 5% 10%;
    text-align: center;
    flex-shrink: 1;
}
.first-section__btn-video{
    display: flex;
    flex-shrink: 1;
}

.fa-play{
    color: rgba(255, 153, 0, 1);;
}

/* orange button styling- color of the text white */
.white-text{
    color: rgba(255, 255, 255, 1);
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 10%;
    justify-content: space-around;
    /* margin-top: 5%; */
}

.second-section{
    text-align: center;
}

.center-btn{
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

/* .fa-arrow-up{
    transform: rotate(320deg);
    background-color: rgba(119, 82, 190, 1);
    padding: 20px;
    border-radius: 20px;
} */


/* third and fifth sections have the same styling */
.third-fifth-section{
    display: flex;
    margin: 15% 10%;
    color: rgba(84, 72, 55, 1);
    justify-content: space-between;
}

.third-fifth-section__left{
    text-align: left;
}

.forth-section__align{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.check-list, .footer__info-bar{
    list-style: none;
    color: rgba(84, 72, 55, 1);
}

/* Here starts the footer styling */
footer{
    display: flex;
    justify-content: space-around;
    width: 1010px;
    height: 310px;
}
input{
    width: 325px;
    height: 38px;
}

.footer__input{
    display: flex;
    flex-direction: column;

}

.footer__info-bar li a:hover{
    color: #0088a9;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}